<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ashish.batterymanager">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_batterymanager"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_batterymanager"
        android:supportsRtl="true"
        android:theme="@style/Theme.BatteryManager">
        <activity
            android:name="com.ashish.batterymanager.Activity.SessionActivity"
            android:exported="false" />
        <activity
            android:name="com.ashish.batterymanager.Activity.MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2" />
        <activity
            android:name="com.ashish.batterymanager.Activity.HistoryActivity"
            android:exported="false" />

        <service
            android:name="com.ashish.batterymanager.Service.AggregatingService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.ashish.batterymanager.Activity.SettingsActivity"
            android:exported="false" />

        <service
            android:name="com.ashish.batterymanager.Service.BatteryService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.ashish.batterymanager.Activity.ChangeActivity"
            android:exported="false" />
        <activity
            android:name="com.ashish.batterymanager.Activity.TempActivity"
            android:exported="false" />
        <activity
            android:name="com.ashish.batterymanager.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>